# ---------- PYTHON ----------
__pycache__/
.ipynb_checkpoints

.env

# ---------- NEXT.JS ----------
/node_modules
/build
.vercel
*.tsbuildinfo
next-env.d.ts
.next/

# ---------- MISC ----------
.DS_Store
*.pem

f1db-sql-mysql.sql
f1db-sql-mysql.zip
